# Zig build artifacts
.zig-cache/
zig-out/

# Build outputs
build/
iso_root/

# Downloaded dependencies
limine/
boot/limine/

# Misc
Legalitas Sistem Blockchain & Privasi.txt

# Virtual disk images
disks/*.qcow2
disks/*.img
disks/*.vdi
disks/*.vmdk
!disks/.gitkeep
